:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #ecf0ff;
  --font-color: #3f446d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.app {
  display: block;
  width: 100vw;
  height: 100vh;
}

.button {
  position: relative;
  font-family: "Staatliches", cursive;
  border: solid 1px var(--font-color);
  width: 100%;
  height: 100%;
}

.button a {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: block;
  z-index: 2;
  text-decoration: none;
  font-size: 3vw;
  color: var(--font-color);
  transition: color 1s ease-out;
}

.button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.button .background {
  position: relative;
  width: 100%;
  height: 100%;
}
.button .background .bg-div {
  float: left;
  display: inline;
  position: relative;
  width: 20%;
  height: 0%;
  background-color: var(--font-color);
}

.background div:nth-child(1) {
  transition: height 1s 100ms;
}

.background div:nth-child(2) {
  transition: height 1s 200ms;
}
.background div:nth-child(3) {
  transition: height 1s 300ms;
}
.background div:nth-child(4) {
  transition: height 1s 400ms;
}
.background div:nth-child(5) {
  transition: height 1s 500ms;
}

.button:hover a {
  color: var(--background-color);
}

.button:hover .bg-div {
  background-color: var(--font-color);
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.email {
  grid-column-start: 1;
  grid-column-end: 3;
}


@media  {
  
}